@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800&display=swap');

body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    color: #242F3F;
    position: relative;
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100vh;
}

/*//////////////// LEFT /////////////////////*/

.left {
    float: left;
    width: 35%;
    min-width: 450px;
    height: 100%;
    background-color: #fff;
}

    .left .top {
        position: relative;
        height: 100px;
        padding: 10px;
    }

        .left .top:after {
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            width: 80%;
            height: 1px;
            content: "";
            transform: translate(-50%, 0);
        }

    .left input {
        float: left;
        padding-left: 15px;
        margin: 10px;
        width: 90%;
        display: block;
        height: 42px;
        border: none;
        background-color: #eceff1;
        border-radius: 20px;
    }

        .left input:focus {
            outline: none;
        }

    .left .people {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .left .people .person {
            position: relative;
            cursor: pointer;
            padding: 12px 10% 16px;
        }

            .left .people .person:after {
                position: absolute;
                bottom: 0;
                left: 50%;
                display: block;
                width: 90%;
                height: 1px;
                content: "";
                background-color: #e6e6e6;
                transform: translate(-50%, 5px);
            }

            .left .people .person img {
                float: left;
                width: 40px;
                height: 40px;
                margin-right: 12px;
                border-radius: 50%;
                -o-object-fit: cover;
                object-fit: cover;
            }

            .left .people .person .name {
                font-size: 14px;
                line-height: 22px;
                color: #242F3F;
                font-weight: 600;
                display: block;
            }

            .left .people .person .time {
                font-size: 14px;
                position: absolute;
                top: 16px;
                right: 10%;
                padding: 0 0 5px 5px;
                color: #999;
            }

            .left .people .person .preview {
                font-size: 14px;
                display: inline-block;
                overflow: hidden !important;
                width: 70%;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #999;
            }

            .left .people .person.active,
            .left .people .person:hover {
                background-color: #778BBB;
            }

                .left .people .person.active span,
                .left .people .person:hover span {
                    color: #fff;
                    background: transparent;
                }

                .left .people .person.active:after,
                .left .people .person:hover:after {
                    display: none;
                }


/*//////////////// RIGHT /////////////////////*/

.right {
    width: 100%;
    position: relative;
    border-left: solid 1px #e6e6e6;
}

#select-chat-div {
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 100vh;
}

    #select-chat-div p {
        margin: 0;
    }


#titleDiv {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #EAEFFD;
}

    #titleDiv .title {
        line-height: 50px;
        font-weight: 600;
    }

.chat-wrapper {
    display: none;
}

    .chat-wrapper.shown {
        display: block;
    }

.chat {
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

    .chat .bubble:last-child {
        margin-bottom: calc(60px + 1.1rem);
    }

    .chat .bubble-wrapper {
        width: 100vw;
        height: fit-content;
        position: relative;
    }

    .chat .bubble {
        padding: 25px;
        max-width: 33%;
        width: fit-content;
        border-radius: 20px;
        position: relative;
        display: inline-block;
        clear: both;
        margin: 5px;
        margin-bottom: 2rem;
    }

        .chat .bubble.me {
            background-color: #557BF3;
            float: right;
        }

            .chat .bubble.me .message-text {
                color: #fff;
            }

        .chat .bubble.other {
            background-color: #F6F8FD;
            float: left;
        }

        .chat .bubble .message-time {
            text-align: right;
            position: absolute;
            right: 5px;
            bottom: -1rem;
        }

        .chat .bubble .message-time {
            color: #999;
            font-size: 0.7rem;
        }

#writeDiv {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 10px;
    height: fit-content;
    background-color: #F6F8FD;
    border-radius: 25px;
}

    #writeDiv .write {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 20px;
        height: inherit;
    }

        #writeDiv .write > i {
            margin: 0 10px;
            font-size: 1.2rem;
            cursor: pointer;
            transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

            #writeDiv .write > i:hover {
                transform: scale(1.2);
            }

        #writeDiv .write textarea {
            width: 90%;
            height: fit-content;
            margin: auto;
            border: none;
            outline: none;
            font-size: 1.1rem;
            font-weight: 600;
            background-color: transparent;
            resize: none;
            overflow: hidden;
            line-height: 20px;
        }

#btn-send {
    background-color: #557BF3;
    border: none;
    border-radius: 50%;
    outline: none;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

    #btn-send:hover {
        transform: scale(1.1);
    }

    #btn-send i {
        color: #fff;
        font-size: 20px;
        margin: 10px 6px;
        margin-right: 7px;
        padding: 0;
    }
