@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800&display=swap");


body {
    margin: 0;
    display: table;
    width: 100vw;
    height: 100vh;
    background: -webkit-linear-gradient(-45deg, #DCF0F7 0, #778BBB 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: #242F3F;
    overflow: hidden;
}

.center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.form-login {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
}

    .form-login .input-wrapper > * {
        text-align: left;
        display: block;
    }

.form-login {
    font-weight: 600;
}

    .form-login .input-form {
        width: 100%;
        height: 40px;
        margin: 10px 0;
        border: none;
        border-bottom: 1px solid #242F3F;
        transition: all 0.5s ease-in-out;
    }

        .form-login .input-form:focus {
            outline: none;
        }

#btn-register {
    text-decoration: none;
    color: #242F3F;
}


#btn-submit {
    outline: none;
    width: 40%;
    margin-left: 40px;
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    background: #778BBB;
    color: #fff;
    position: relative;
    top: 0;
    transition: 0.2s ease;
    font-weight: 600;
    font-size: 1.05rem;
}

    #btn-submit:hover {
        transform: scale(1.01);
    }
