@{
    ViewData["Title"] = "Home";
}

@section Styles{
    <link rel="stylesheet" href="~/css/index.css">
}

<header>
    <span class="title">Support Service</span>
</header>

<div class="chat">
    <div class="bubble me">Hello Sir!</div>

    <div class="bubble other">Good morning!</div>
</div>

<footer>
    <div class="write">
        <i class="fas fa-paperclip"></i>
        <input type="text" placeholder="Write a message..." />
        <i class="far fa-smile"></i>
        <i class="fas fa-paper-plane"></i>
    </div>
</footer>
